<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="passwordheader">
        <img src="../static/images/netflix_pic.PNG" alt="" class="logo" height="190px">
        <a href="#" class="passin">Sign In</a>
        <hr>
    </header>

    <div class="important">
        <h1 class="w">Welcome Back!</h1>
        <h1 class="r">Rejoining Netflix is easy.</h1>
        <p class="e">Enter the password and you'll be watching in no time.</p>
        <h5 class="ee">Email</h5>
        <h5 class="jinja">{{box}}</h5>
        <form action="" method="post">
            <input type="password" class="passwordd" name="password" placeholder="Enter Password"><br><br>

            <a href="#" class="forgot">Forgot your password?</a><br>

            <button type="submit" class="submit">Login</button>
        </form>


    </div>
</body>
</html>