<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <video autoplay loop plays-inline height="700px" width="100%" class="netflixvideo">
        <source src="../static/videos/y2mate.com - Netflix New Logo Animation 2019_1080p.mp4">
    </video>

    <div class="enterpin">
        <h1 class="wel">Welcome!</h1>
        <h1 class="tocontinue">Enter you Pin to continue</h1>

        <form action="" method="post">
            <input type="password" name="pin" placeholder="Enter Pin" class="pin"><br>
            <button type="submit" class="submitpin">Submit</button>
        </form>


        
    </div>
</body>
</html>