<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="backgroundsearch">
        <img src="../static/images/Sk.png" alt="" width="100%">
    </div>

    <div class="uploadnetflix">
        <h1>Upload with Netflix</h1>
        <form action="" method="post">
            <input type="url" placeholder="Videourl" name="video"><br>
            <input type="url" placeholder="Thumbnailurl" name="thumb"><br>
            <button type="submit" class="upload">Upload</button>
        </form>
    </div>



</body>
</html>