<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="watchbody">
    <h2 class="watching">Who's watching?</h2>
    <div class="watchimages">
        <a href="{{url_for('netflix')}}"><img class="watchimages1" src="../static/images/AK.jpg" alt="" height="190px" width="200px"></a>
        <a href="#"><img class="watchimages1" src="../static/images/jeffin.jpg" alt="" height="190px" width="200px"></a>
        <a href="#"><img class="watchimages1" src="../static/images/marvels-iron-man-2023-games-marvel-comics-2880x1800-8773.jpg" alt="" height="190px" width="200px"></a>
        <a href="#"><img class="watchimages1" src="../static/images/captian.jpg" alt="" height="190px" width="200px"></a>
        <a href="#" ><i class="fa-solid fa-circle-plus" style="color: lightgray;"></i></a>

    </div>

    <div class="profilename">
        <p>Arun Kumar</p>
        <p>Jeffin Derricks</p>
        <p>Rajesh Waran</p>
        <p>Parthi ban</p>
        <p>Add Profile</p>
    </div>

    <div class="manageprofile">
        <p>Manage Profiles</p>
    </div>
</body>
</html>